{% extends 'base.html' %}
{% block title %} {{ title }}  {% endblock title %}
{% block cssboy %} class="layui-anim layui-anim-up" {% endblock cssboy %}

{% block content %}

    <div class="x-body">

        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn" onclick="x_admin_show('新增测试所需的运行环境','/api/environmentAdd',600,400)"><i
                    class="layui-icon"></i>添加
            </button>
              <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:2px;float:right"
               href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:40px">ဂ</i>
            </a>

        </xblock>
        <table class="layui-table">
            <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i>
                    </div>
                </th>
                <th>序号</th>
                <th>环境名称</th>
                <th>环境路径</th>
                <th>环境端口</th>
                <th>环境简介</th>
                <th>操作人</th>
                <th>操作时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for environ in environList %}

                <tr>
                    <input type="hidden" name="id" value={{ environ.id }}></input>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ environ.id }}'><i
                                class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>{{ environ.id }}</td>
                    <td>{{ environ.path_name }}</td>
                    <td>{{ environ.host }}</td>
                    <td>{{ environ.port }}</td>
                    <td>{{ environ.envir_descript }}</td>
                    <td>{{ environ.username }}</td>
                    <td>{{ environ.update_time|date:"Y-m-d H:i:s" }}</td>
                    <td class="td-status">
                        {% if environ.status == 1 %}
                            <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
                        {% else %}
                            <span class="layui-btn layui-btn-disabled layui-btn-mini">已停用</span>
                        {% endif %}

                    </td>
                    <td class="td-manage">
                        <a onclick="member_stop(this,'{{ environ.id }}')" href="javascript:;" title="启用">
                            <i class="layui-icon">&#xe601;</i>
                        </a>
                        <a title="编辑" onclick="x_admin_show('测试环境编辑','/api/environmentEdit/{{ environ.id }}',600,400)"
                           href="javascript:;">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a onclick="x_admin_show('修改密码','member-password.html',600,400)" title="修改密码"
                           href="javascript:;">
                            <i class="layui-icon">&#xe631;</i>
                        </a>
                        <a title="删除" onclick="member_del(this,'{{ environ.id }}')" href="javascript:;">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <div>
                {% if pages.has_previous %}
                    <a class="prev" href="/api/EnviromentManager/{{ pages.previous_page_number }} ">&lt;&lt;</a>
                {% endif %}

                {% for num in  pageList.page_range %}
                    {% if num == currentPag %}
                        <span class="current">{{ num }}</span>
                    {% else %}
                        <a class="num" href="/api/EnviromentManager/{{ num }}">{{ num }}</a>
                    {% endif %}

                {% endfor %}


                {% if pages.has_next %}
                    <a href="/api/EnviromentManager/{{ pages.next_page_number }}">下一页</a>
                {% endif %}
            </div>
        </div>

    </div>
    <script>
        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        /*用户-停用*/
        function member_stop(obj, id) {
            var statu_text = $(obj).parents("tr").find(".td-status").find('span').text();
            if (statu_text == "已启用") {
                var status = 1;
                var confirm_info = "确认要停用吗？";
            } else {
                var status = 2;
                var confirm_info = "确认要启用吗？";
            }
            layer.confirm(confirm_info, function (index) {
                layer.load(2);
                if ($(obj).attr('title') == '启用') {

                    //发异步把用户状态进行更改
                    var url = '/api/isEnable/' + id + '/';
                    $.get(url, function (data) {
                        if (data.success.length > 0) {
                            {#$(obj).attr('title','停用')#}
                            {#$(obj).find('i').html('&#xe62f;');#}
                            {##}
                            {# $(obj).parents("tr").find(".td-status").find('span').addClass('layui-btn-disabled').html('已停用');#}
                            layer.msg(data.success, {icon: data.icon, time: 1000});
                            layer.close();
                            window.location.href = '/api/EnviromentManager/0/';
                            return;
                        }

                    });
                    //layer.load(2);

                } else {

                    //发异步把用户状态进行更改
                    var url = '/api/isEnable/' + id + '/';
                    $.get(url, function (data) {
                        // layer.load(2);
                        if (data.success.length > 0) {
                            {#$(obj).attr('title','启用')#}
                            {#$(obj).find('i').html('&#xe601;');#}
                            {##}
                            {#$(obj).parents("tr").find(".td-status").find('span').removeClass('layui-btn-disabled').html('已启用');#}
                            layer.msg(data.success, {icon: data.icon, time: 1000});
                            layer.close();
                            window.location.href = '/api/EnviromentManager/0/';
                            return;
                        }

                    });


                }

            });

        }

        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {

                //var id = $("input:hidden[name='id']").val();
                var url = '/api/environDelete/' + id + '/';
                $.get(url, function (data) {

                    if (data.success.length > 0) {
                        //发异步删除数据
                        $(obj).parents("tr").remove();
                        layer.msg(data.success, {icon: 1, time: 1000});
                        window.location.href = '/api/EnviromentManager/0/';
                        return;
                    }

                });
                //遮罩层，让用户无法点击
                layer.load(2);
            });
        }


        function delAll(argument) {

            var select_checked = $(".layui-form-checked");
            var ids = [];
            for (var i = 1; i < select_checked.length; i++) {
                ids.push($(select_checked[i]).attr('data-id'));
            }


            layer.confirm('确认要删除吗？', function () {

                var data = {"ids": ids.join()};
                //捉到所有被选中的，发异步进行删除
                $.post("/api/environDelete/0/", data, function (data) {
                    if (data.success.length > 0) {
                        layer.msg(data.success, {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }
                    layer.close();
                    window.location.href = '/api/EnviromentManager/0/';
                });

                layer.load(2);
            });
        }
    </script>
{% endblock content %}