{% extends 'base.html' %}
{% block title %} {{ title }}  {% endblock title %}

{% block content %}
    <div class="login layui-anim layui-anim-up">
        <div class="message">API接口自动化测试系统登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="username" placeholder="用户名"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <input type="checkbox" name="remeberPw" lay-skin="primary" title="记住密码">
            <span  style="float:right " lay-size="20px" onclick="x_admin_show('注册用户','/register')"> <a href="javascript:void(0)">注册</a></span>

            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
        </form>
    </div>

    <script>
        $(function  () {
            layui.use('form', function(){
              var form = layui.form;
              // layer.msg('玩命卖萌中', function(){
              //   //关闭后的操作
              //   });
              //监听提交
              form.on('submit(login)', function(data){
                // alert(888)
                layer.msg(JSON.stringify(data.field),function(){
                    location.href='login'

                });
               // return false;//阻止表单跳转。如果需要表单跳转，去掉这段即可。
              });
            });
        })

        
    </script>
<!-- 底部结束 -->
{% endblock content %}
