{% extends 'base.html' %}
{% block title %} {{ title }}  {% endblock title %}
{% block cssboy %} class="layui-anim layui-anim-up" {% endblock cssboy %}

{% block content %}

    <div class="x-body">

        <xblock>
            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
            <button class="layui-btn" onclick="x_admin_show('新增测试用例','/api/TestcaseAdd',800,600)"><i class="layui-icon"></i>添加
            </button>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:2px;float:right"
               href="javascript:location.replace(location.href);" title="刷新">
                <i class="layui-icon" style="line-height:40px">ဂ</i></a>
        </xblock>
        <table class="layui-table">
            <thead>
            <tr>
                <th>
                    <div class="layui-unselect header layui-form-checkbox" lay-skin="primary"><i class="layui-icon">&#xe605;</i>
                    </div>
                </th>
                <th>序号</th>
                <th>用例名称</th>
                <th>接口路径</th>
                <th>请求方式</th>
                <th>参数</th>
                <th>操作人</th>
                <th>期望结果</th>
                <th>操作时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for testcase in testCaseList %}

                <tr>
                    <input type="hidden" name="id" value={{ environ.id }}></input>
                    <td>
                        <div class="layui-unselect layui-form-checkbox" lay-skin="primary" data-id='{{ environ.id }}'><i
                                class="layui-icon">&#xe605;</i></div>
                    </td>
                    <td>{{ testcase.id }}</td>
                    <td>{{ testcase.case_name }}</td>
                    <td>{{ testcase.req_path }}</td>
                    <td>{{ testcase.req_method }}</td>
                    <td>
                        <span class="req_param">{{ testcase.req_param }}</span>
                        <button class="layui-btn layui-btn-xs show" id="showJson" style="display: none;"
                                onclick="showJson({{ testcase.req_param }} )">格式化查看
                        </button>
                    </td>
                    <td>{{ testcase.username }}</td>
                    <td>{{ testcase.except_result }}</td>
                    <td>{{ testcase.update_time|date:"Y-m-d H:i:s" }}</td>
                    <td class="td-status">
                        {% if testcase.test_result == "0" %}
                           <span id="btnResult_{{ testcase.id }}" class="layui-btn layui-btn-disabled layui-btn-mini"
                                  onclick="show_result(this,'{{ testcase.id }}')">结果</span>
                        {% elif testcase.test_result == "1" %}
                             <span id="btnResult_{{ testcase.id }}" class="layui-btn layui-btn-normal layui-btn-mini"
                                  onclick="show_result(this,'{{ testcase.id }}')">成功</span>
                        {% else %}
                            <span id="btnResult_{{ testcase.id }}" class="   layui-btn layui-btn-danger layui-btn-mini"
                                  onclick="show_result(this,'{{ testcase.id }}')">失败</span>
                        {% endif %}

                    </td>
                    <td class="td-manage">
                        <a onclick="run_testcase(this,'{{ testcase.id }}')" href="javascript:;" title="运行测试用例">
                            <i class="layui-icon">&#xe601;</i>
                        </a>
                        <a title="编辑" onclick="x_admin_show('测试环境编辑','/api/environmentEdit/{{ testcase.id }}',600,400)"
                           href="javascript:;">
                            <i class="layui-icon">&#xe642;</i>
                        </a>
                        <a onclick="x_admin_show('修改密码','member-password.html',600,400)" title="修改密码"
                           href="javascript:;">
                            <i class="layui-icon">&#xe631;</i>
                        </a>
                        <a title="删除" onclick="member_del(this,'{{ testcase.id }}')" href="javascript:;">
                            <i class="layui-icon">&#xe640;</i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="page">
            <div>
                {% if pages.has_previous %}
                    <a class="prev" href="/api/testCaseManager/{{ pages.previous_page_number }} ">&lt;&lt;</a>
                {% endif %}

                {% for num in  pageList.page_range %}
                    {% if num == currentPag %}
                        <span class="current">{{ num }}</span>
                    {% else %}
                        <a class="num" href="/api/testCaseManager/{{ num }}">{{ num }}</a>
                    {% endif %}

                {% endfor %}


                {% if pages.has_next %}
                    <a href="/api/testCaseManager/{{ pages.next_page_number }}">下一页</a>
                {% endif %}
            </div>
        </div>

    </div>
    <script>
        $(document).ready(function () {

            function find(str, cha, num) {
                var x = str.indexOf(cha);
                for (var i = 0; i < num; i++) {
                    x = str.indexOf(cha, x + 1);
                }
                return x;
            }

            var req = $(".req_param");
            for (var i = 0; i < req.length; i++) {
                var text = req.get(i).innerText
                if (text.length > 0) {
                    debugger
                    $(".show").get(i).style = "display:inline"
                    debugger
                    if (text.length > 30) {
                        var index = find(text, ",", 1);
                        var hiddenText = text.substring(0, index) + ".....";
                        req.get(i).innerText = hiddenText;
                    }
                }

            }

        });


        layui.use('laydate', function () {
            var laydate = layui.laydate;

            //执行一个laydate实例
            laydate.render({
                elem: '#start' //指定元素
            });

            //执行一个laydate实例
            laydate.render({
                elem: '#end' //指定元素
            });
        });

        function ajax_request(req_params, id) {
            $.ajax({
                'url': '/api/execute_cases/'+id+"/",
                'contentType': "application/json; charset=utf-8",
                'type': 'POST',
                'data': req_params,
                'dataType': "json",
                async: false,
                'beforeSend': function (XMLHttpRequest) {
                    layer.msg('用例执行中,请稍后哦！', {icon: 16});
                    //layer.load(1);
                },
                'timeout': 15000,
                'success': function (data) {
                    // alert(data.info);
                    //alert("成功了哦");
                    layer.closeAll();
                    if (data.statu == "error") {
                        layer.open({
                            title: '执行用例结果'
                            , content:"<i class='layui-layer-ico layui-layer-ico5'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;<span style='color:red'>"+data.info+"</span>"
                        });
                        $("#btnResult_" + id).attr("class", "layui-btn layui-btn-danger layui-btn-mini");
                        $("#btnResult_" + id).text("失败");
                    } else if( data.statu == "success"){
                        layer.open({
                            title: '执行用例结果'
                            , content:"<i class='layui-layer-ico layui-layer-ico6'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;<span style='color:green'>"+data.info+"</span>"
                        });
                        $("#btnResult_" + id).attr("class", "layui-btn layui-btn-normal layui-btn-mini");
                        $("#btnResult_" + id).text("成功");
                    }

                    // layer.closeAll();
                },
                'error': function (data) {
                    debugger
                   layer.open({
                            title: '执行用例结果'
                            , content:"<i class='layui-layer-ico layui-layer-ico5'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;;&nbsp;&nbsp;<span style='color:red'>"+data.info+"</span>"
                        });
                    $("#btnResult_" + id).attr("class", "layui-btn layui-btn-danger layui-btn-mini");
                    $("#btnResult_" + id).text("失败");
                }


            });
        }


        /*运行测试用例*/
        function run_testcase(obj, id) {
            layer.open({
                type: 1,
                title: '请选择运行环境',
                offset: '250px',
                area: ['450px', '300px'],
                btn: ['确定', '取消'],
                content: '       <select id= "environId" name="case_id" lay-verify="required" lay-search="">\n' +
                '            {% for environ in environList %}\n'+
                    '                <option value="{{ environ.id }}">{{ environ.id }}--{{ environ.path_name }}</option>\n'
                    +
                    '            {% endfor %}\n' +
                '        </select>',
                yes: function (index) {
                    //alert("这是点击确定按钮走的回调");
                    var value = $("#environId option:selected").val();

                    //根据id，将url+data+method获取到传到后台
                    $.get("/api/getTestCaseInfo/" + id + "/", function (data) {

                        var testcaseInfo = JSON.parse(data.testcaseInfo);
                        var fields = testcaseInfo[0].fields;

                        console.log(fields)
                        //
                        var params = {};
                        params['req_method'] = fields.req_method;
                        params['req_path'] = fields.req_path;
                        params['req_param'] = fields.req_param;
                        params['except_result'] = fields.except_result;
                        ajax_request(JSON.stringify(params), id);
                    });
                    layer.close(index);

                },
                btn2: function () {
                    alert("这是点击取消按钮走的回调");
                },
            });
        }

        function show_result(obj, id) {
            if ($('#btnResult_' + id).attr("class").indexOf(" layui-btn-disabled ") != -1) {
                return;
            } else {
                if ($('#btnResult_' + id).text() == "成功") {
                    layer.open({
                            skin: 'layui-layer-molv',
                            title: '运行结果',
                            area: ['450px', '300px'],
                            btn: ['确定', '取消'],
                            content: "<i class='layui-layer-ico layui-layer-ico6'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:green'>执行成功服务器返回结果:</span>",
                        }
                    )
                } else {
                    layer.open({
                            title: '运行结果',
                            area: ['450px', '300px'],
                            btn: ['确定', '取消'],
                            content: "<i class='layui-layer-ico layui-layer-ico5'></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style='color:red'>执行成功服务器返回结果:</span>",

                        }
                    )
                }

            }


        }


        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？', function (index) {

                //var id = $("input:hidden[name='id']").val();
                var url = '/api/environDelete/' + id + '/';
                $.get(url, function (data) {

                    if (data.success.length > 0) {
                        //发异步删除数据
                        $(obj).parents("tr").remove();
                        layer.msg(data.success, {icon: 1, time: 1000});
                        window.location.href = '/api/testCaseManager/0/';
                        return;
                    }

                });
                //遮罩层，让用户无法点击
                layer.load(2);
            });
        }


        function delAll(argument) {

            var select_checked = $(".layui-form-checked");
            var ids = [];
            for (var i = 1; i < select_checked.length; i++) {
                ids.push($(select_checked[i]).attr('data-id'));
            }


            layer.confirm('确认要删除吗？', function () {

                var data = {"ids": ids.join()};
                //捉到所有被选中的，发异步进行删除
                $.post("/api/environDelete/0/", data, function (data) {
                    if (data.success.length > 0) {
                        layer.msg(data.success, {icon: 1});
                        $(".layui-form-checked").not('.header').parents('tr').remove();
                    }
                    layer.close();
                    window.location.href = '/api/testCaseManager/0/';
                });

                layer.load(2);
            });
        }


        {% comment %}       $(function  () {
                    $('#showJson').click(function () {
                        //alert("asdfsd");
                        layer.open({'title':'错误提交信息','content':'请按要求填写信息'});
                    });
               });{% endcomment %}

        function showJson(data) {
            var data = JSON.stringify(data, null, 4);
            // layer.open({'title':'错误提交信息','content':data});
            alert(data);
        }

    </script>

{% endblock content %}